In [225]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
#No warnings
import warnings
warnings.filterwarnings('ignore') # Filter out warnings

# data analysis and wrangling
import pandas as pd
import numpy as np

# visualization
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

# machine learning
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB # Gaussian Naive Bays
from sklearn.linear_model import Perceptron
from sklearn.tree import DecisionTreeClassifier

import xgboost as xgb

In [210]:
data = pd.read_csv('regressiondatain.csv')
data

,Loan_ID,Age,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,NaN,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,NaN,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,NaN,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,NaN,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,NaN,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,NaN,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
6,LP001013,NaN,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y
7,LP001014,NaN,Male,Yes,3+,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban,N
8,LP001018,NaN,Male,Yes,2,Graduate,No,4006,1526.0,168.0,360.0,1.0,Urban,Y
9,LP001020,NaN,Male,Yes,1,Graduate,No,12841,10968.0,349.0,360.0,1.0,Semiurban,N
10,LP001024,NaN,Male,Yes,2,Graduate,No,3200,700.0,70.0,360.0,1.0,Urban,Y
11,LP001027,NaN,Male,Yes,2,Graduate,NaN,2500,1840.0,109.0,360.0,1.0,Urban,Y
12,LP001028,NaN,Male,Yes,2,Graduate,No,3073,8106.0,200.0,360.0,1.0,Urban,Y
13,LP001029,NaN,Male,No,0,Graduate,No,1853,2840.0,114.0,360.0,1.0,Rural,N
14,LP001030,NaN,Male,Yes,2,Graduate,No,1299,1086.0,17.0,120.0,1.0,Urban,Y
15,LP001032,NaN,Male,No,0,Graduate,No,4950,0.0,125.0,360.0,1.0,Urban,Y
16,LP001034,NaN,Male,No,1,Not Graduate,No,3596,0.0,100.0,240.0,NaN,Urban,Y
17,LP001036,NaN,Female,No,0,Graduate,No,3510,0.0,76.0,360.0,0.0,Urban,N
18,LP001038,NaN,Male,Yes,0,Not Graduate,No,4887,0.0,133.0,360.0,1.0,Rural,N
19,LP001041,NaN,Male,Yes,0,Graduate,NaN,2600,3500.0,115.0,NaN,1.0,Urban,Y
20,LP001043,NaN,Male,Yes,0,Not Graduate,No,7660,0.0,104.0,360.0,0.0,Urban,N
21,LP001046,NaN,Male,Yes,1,Graduate,No,5955,5625.0,315.0,360.0,1.0,Urban,Y
22,LP001047,NaN,Male,Yes,0,Not Graduate,No,2600,1911.0,116.0,360.0,0.0,Semiurban,N
23,LP001050,NaN,NaN,Yes,2,Not Graduate,No,3365,1917.0,112.0,360.0,0.0,Rural,N
24,LP001052,NaN,Male,Yes,1,Graduate,NaN,3717,2925.0,151.0,360.0,NaN,Semiurban,N
25,LP001066,NaN,Male,Yes,0,Graduate,Yes,9560,0.0,191.0,360.0,1.0,Semiurban,Y
26,LP001068,NaN,Male,Yes,0,Graduate,No,2799,2253.0,122.0,360.0,1.0,Semiurban,Y
27,LP001073,NaN,Male,Yes,2,Not Graduate,No,4226,1040.0,110.0,360.0,1.0,Urban,Y
28,LP001086,NaN,Male,No,0,Not Graduate,No,1442,0.0,35.0,360.0,1.0,Urban,N
29,LP001087,NaN,Female,No,2,Graduate,NaN,3750,2083.0,120.0,360.0,1.0,Semiurban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
584,LP002911,NaN,Male,Yes,1,Graduate,No,2787,1917.0,146.0,360.0,0.0,Rural,N
585,LP002912,NaN,Male,Yes,1,Graduate,No,4283,3000.0,172.0,84.0,1.0,Rural,N
586,LP002916,NaN,Male,Yes,0,Graduate,No,2297,1522.0,104.0,360.0,1.0,Urban,Y
587,LP002917,NaN,Female,No,0,Not Graduate,No,2165,0.0,70.0,360.0,1.0,Semiurban,Y
588,LP002925,NaN,NaN,No,0,Graduate,No,4750,0.0,94.0,360.0,1.0,Semiurban,Y
589,LP002926,NaN,Male,Yes,2,Graduate,Yes,2726,0.0,106.0,360.0,0.0,Semiurban,N
590,LP002928,NaN,Male,Yes,0,Graduate,No,3000,3416.0,56.0,180.0,1.0,Semiurban,Y
591,LP002931,NaN,Male,Yes,2,Graduate,Yes,6000,0.0,205.0,240.0,1.0,Semiurban,N
592,LP002933,NaN,NaN,No,3+,Graduate,Yes,9357,0.0,292.0,360.0,1.0,Semiurban,Y
593,LP002936,NaN,Male,Yes,0,Graduate,No,3859,3300.0,142.0,180.0,1.0,Rural,Y
594,LP002938,NaN,Male,Yes,0,Graduate,Yes,16120,0.0,260.0,360.0,1.0,Urban,Y
595,LP002940,NaN,Male,No,0,Not Graduate,No,3833,0.0,110.0,360.0,1.0,Rural,Y
596,LP002941,NaN,Male,Yes,2,Not Graduate,Yes,6383,1000.0,187.0,360.0,1.0,Rural,N
597,LP002943,NaN,Male,No,NaN,Graduate,No,2987,0.0,88.0,360.0,0.0,Semiurban,N
598,LP002945,NaN,Male,Yes,0,Graduate,Yes,9963,0.0,180.0,360.0,1.0,Rural,Y
599,LP002948,NaN,Male,Yes,2,Graduate,No,5780,0.0,192.0,360.0,1.0,Urban,Y
600,LP002949,NaN,Female,No,3+,Graduate,NaN,416,41667.0,350.0,180.0,NaN,Urban,N
601,LP002950,NaN,Male,Yes,0,Not Graduate,NaN,2894,2792.0,155.0,360.0,1.0,Rural,Y
602,LP002953,NaN,Male,Yes,3+,Graduate,No,5703,0.0,128.0,360.0,1.0,Urban,Y
603,LP002958,NaN,Male,No,0,Graduate,No,3676,4301.0,172.0,360.0,1.0,Rural,Y
604,LP002959,NaN,Female,Yes,1,Graduate,No,12000,0.0,496.0,360.0,1.0,Semiurban,Y
605,LP002960,NaN,Male,Yes,0,Not Graduate,No,2400,3800.0,NaN,180.0,1.0,Urban,N
606,LP002961,NaN,Male,Yes,1,Graduate,No,3400,2500.0,173.0,360.0,1.0,Semiurban,Y
607,LP002964,NaN,Male,Yes,2,Not Graduate,No,3987,1411.0,157.0,360.0,1.0,Rural,Y
608,LP002974,NaN,Male,Yes,0,Graduate,No,3232,1950.0,108.0,360.0,1.0,Rural,Y
609,LP002978,NaN,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,NaN,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,NaN,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,NaN,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,NaN,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [211]:
data.fillna(method='ffill',inplace=True)
data.fillna(method='bfill',inplace=True)

In [212]:
#change dependents to int from 0-3
data['Dependents']=data['Dependents'].apply(lambda x: int(str(x)[:1]))

In [213]:
#married yes =1
data['Married']=data['Married'].apply(lambda x: 1 if x=='Yes' else 0)

In [214]:
data.drop(['Loan_ID','Age'],axis=1,inplace=True)

In [215]:
#loanstatus,self employed, Graduate?, gender 1=male
data['Loan_Status']=data['Loan_Status'].apply(lambda x: 1 if x=='Y' else 0)
data['Self_Employed']=data['Self_Employed'].apply(lambda x: 1 if x=='Yes' else 0)
data['Gender']=data['Gender'].apply(lambda x: 1 if x=='Male' else 0)

In [216]:
data['Graduate']=data['Education'].apply(lambda x: 0 if x=='Not Graduate' else 1)
data.drop('Education',axis=1,inplace=True)

In [217]:
# Title dummy mapping: Map titles to binary dummy columns

binary_encoded = pd.get_dummies(data.Property_Area)
data[binary_encoded.columns] = binary_encoded

In [218]:
data.drop('Property_Area',axis=1,inplace=True)

Setup Training and Validation Sets

In [223]:
#Final data set
data

,Gender,Married,Dependents,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_Status,Graduate,Rural,Semiurban,Urban
0,1,0,0,0,5849,0.0,128.0,360.0,1.0,1,1,0,0,1
1,1,1,1,0,4583,1508.0,128.0,360.0,1.0,0,1,1,0,0
2,1,1,0,1,3000,0.0,66.0,360.0,1.0,1,1,0,0,1
3,1,1,0,0,2583,2358.0,120.0,360.0,1.0,1,0,0,0,1
4,1,0,0,0,6000,0.0,141.0,360.0,1.0,1,1,0,0,1
5,1,1,2,1,5417,4196.0,267.0,360.0,1.0,1,1,0,0,1
6,1,1,0,0,2333,1516.0,95.0,360.0,1.0,1,0,0,0,1
7,1,1,3,0,3036,2504.0,158.0,360.0,0.0,0,1,0,1,0
8,1,1,2,0,4006,1526.0,168.0,360.0,1.0,1,1,0,0,1
9,1,1,1,0,12841,10968.0,349.0,360.0,1.0,0,1,0,1,0
10,1,1,2,0,3200,700.0,70.0,360.0,1.0,1,1,0,0,1
11,1,1,2,0,2500,1840.0,109.0,360.0,1.0,1,1,0,0,1
12,1,1,2,0,3073,8106.0,200.0,360.0,1.0,1,1,0,0,1
13,1,0,0,0,1853,2840.0,114.0,360.0,1.0,0,1,1,0,0
14,1,1,2,0,1299,1086.0,17.0,120.0,1.0,1,1,0,0,1
15,1,0,0,0,4950,0.0,125.0,360.0,1.0,1,1,0,0,1
16,1,0,1,0,3596,0.0,100.0,240.0,1.0,1,0,0,0,1
17,0,0,0,0,3510,0.0,76.0,360.0,0.0,0,1,0,0,1
18,1,1,0,0,4887,0.0,133.0,360.0,1.0,0,0,1,0,0
19,1,1,0,0,2600,3500.0,115.0,360.0,1.0,1,1,0,0,1
20,1,1,0,0,7660,0.0,104.0,360.0,0.0,0,0,0,0,1
21,1,1,1,0,5955,5625.0,315.0,360.0,1.0,1,1,0,0,1
22,1,1,0,0,2600,1911.0,116.0,360.0,0.0,0,0,0,1,0
23,1,1,2,0,3365,1917.0,112.0,360.0,0.0,0,0,1,0,0
24,1,1,1,0,3717,2925.0,151.0,360.0,0.0,0,1,0,1,0
25,1,1,0,1,9560,0.0,191.0,360.0,1.0,1,1,0,1,0
26,1,1,0,0,2799,2253.0,122.0,360.0,1.0,1,1,0,1,0
27,1,1,2,0,4226,1040.0,110.0,360.0,1.0,1,0,0,0,1
28,1,0,0,0,1442,0.0,35.0,360.0,1.0,0,0,0,0,1
29,0,0,2,0,3750,2083.0,120.0,360.0,1.0,1,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
584,1,1,1,0,2787,1917.0,146.0,360.0,0.0,0,1,1,0,0
585,1,1,1,0,4283,3000.0,172.0,84.0,1.0,0,1,1,0,0
586,1,1,0,0,2297,1522.0,104.0,360.0,1.0,1,1,0,0,1
587,0,0,0,0,2165,0.0,70.0,360.0,1.0,1,0,0,1,0
588,0,0,0,0,4750,0.0,94.0,360.0,1.0,1,1,0,1,0
589,1,1,2,1,2726,0.0,106.0,360.0,0.0,0,1,0,1,0
590,1,1,0,0,3000,3416.0,56.0,180.0,1.0,1,1,0,1,0
591,1,1,2,1,6000,0.0,205.0,240.0,1.0,0,1,0,1,0
592,1,0,3,1,9357,0.0,292.0,360.0,1.0,1,1,0,1,0
593,1,1,0,0,3859,3300.0,142.0,180.0,1.0,1,1,1,0,0
594,1,1,0,1,16120,0.0,260.0,360.0,1.0,1,1,0,0,1
595,1,0,0,0,3833,0.0,110.0,360.0,1.0,1,0,1,0,0
596,1,1,2,1,6383,1000.0,187.0,360.0,1.0,0,0,1,0,0
597,1,0,2,0,2987,0.0,88.0,360.0,0.0,0,1,0,1,0
598,1,1,0,1,9963,0.0,180.0,360.0,1.0,1,1,1,0,0
599,1,1,2,0,5780,0.0,192.0,360.0,1.0,1,1,0,0,1
600,0,0,3,0,416,41667.0,350.0,180.0,1.0,0,1,0,0,1
601,1,1,0,0,2894,2792.0,155.0,360.0,1.0,1,0,1,0,0
602,1,1,3,0,5703,0.0,128.0,360.0,1.0,1,1,0,0,1
603,1,0,0,0,3676,4301.0,172.0,360.0,1.0,1,1,1,0,0
604,0,1,1,0,12000,0.0,496.0,360.0,1.0,1,1,0,1,0
605,1,1,0,0,2400,3800.0,496.0,180.0,1.0,0,0,0,0,1
606,1,1,1,0,3400,2500.0,173.0,360.0,1.0,1,1,0,1,0
607,1,1,2,0,3987,1411.0,157.0,360.0,1.0,1,0,1,0,0
608,1,1,0,0,3232,1950.0,108.0,360.0,1.0,1,1,1,0,0
609,0,0,0,0,2900,0.0,71.0,360.0,1.0,1,1,1,0,0
610,1,1,3,0,4106,0.0,40.0,180.0,1.0,1,1,1,0,0
611,1,1,1,0,8072,240.0,253.0,360.0,1.0,1,1,0,0,1
612,1,1,2,0,7583,0.0,187.0,360.0,1.0,1,1,0,0,1
613,0,0,0,1,4583,0.0,133.0,360.0,0.0,0,1,0,1,0

In [219]:
X = data.drop("Loan_Status", axis=1) # Training & Validation data
Y = data["Loan_Status"]              # Response / Target Variable

print(X.shape, Y.shape)

(614, 13) (614,)

In [220]:
# Split training set so that we validate on 20% of the data
# Note that our algorithms will never have seen the validation 

np.random.seed(1337) # set random seed for reproducibility

from sklearn.model_selection import train_test_split

X_train, X_val, Y_train, Y_val = \
                train_test_split(X, Y, test_size=0.2)

print('Training Samples:', X_train.shape, Y_train.shape)
print('Validation Samples:', X_val.shape, Y_val.shape)

Training Samples: (491, 13) (491,)
Validation Samples: (123, 13) (123,)

# Logistic regression

In [221]:
logreg = LogisticRegression()           # create
logreg.fit(X_train, Y_train)            # train
acc_log_2 = logreg.score(X_val, Y_val)  # predict & evaluate

print('Logistic Regression accuracy:',\
      str(round(acc_log_2*100,2)),'%')

Logistic Regression accuracy: 82.11 %

KNN

In [226]:
knn = KNeighborsClassifier(n_neighbors = 5)                  # instantiate
knn.fit(X_train, Y_train)                                    # fit
acc_knn = knn.score(X_val, Y_val)                            # predict + evaluate

print('K-Nearest Neighbors labeling accuracy:', str(round(acc_knn*100,2)),'%')

K-Nearest Neighbors labeling accuracy: 66.67 %

# Support Vector Machine

In [227]:
# Support Vector Machines Classifier (non-linear kernel)
svc = SVC()                                                  # instantiate
svc.fit(X_train, Y_train)                                    # fit
acc_svc = svc.score(X_val, Y_val)                            # predict + evaluate

print('Support Vector Machines labeling accuracy:', str(round(acc_svc*100,2)),'%')

Support Vector Machines labeling accuracy: 72.36 %

# Perceptron

In [228]:
perceptron = Perceptron()                                    # instantiate 
perceptron.fit(X_train, Y_train)                             # fit
acc_perceptron = perceptron.score(X_val, Y_val)              # predict + evalaute

print('Perceptron labeling accuracy:', str(round(acc_perceptron*100,2)),'%')

Perceptron labeling accuracy: 47.97 %

# Gradient Boosting

In [229]:
# XGBoost, same API as scikit-learn
gradboost = xgb.XGBClassifier(n_estimators=1000)             # instantiate
gradboost.fit(X_train, Y_train)                              # fit
acc_xgboost = gradboost.score(X_val, Y_val)                  # predict + evalute

print('XGBoost labeling accuracy:', str(round(acc_xgboost*100,2)),'%')

XGBoost labeling accuracy: 74.8 %

# Random Forest

In [230]:
# Random Forest
random_forest = RandomForestClassifier(n_estimators=500)   # instantiate
random_forest.fit(X_train, Y_train)                         # fit
acc_rf = random_forest.score(X_val, Y_val)                  # predict + evaluate

print('Random Forest labeling accuracy:', str(round(acc_rf*100,2)),'%')

Random Forest labeling accuracy: 82.11 %

#  Neural Networks (Deep Learning)

In [231]:
from keras.models import Sequential
from keras.layers import Dense
model = Sequential()
model.add( Dense(units=300, activation='relu', input_shape=(13,) ))
model.add( Dense(units=100, activation='relu'))
model.add( Dense(units=50, activation='relu'))
model.add( Dense(units=1, activation='sigmoid') )
model.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics = ['accuracy'])
model.fit(X_train, Y_train, epochs = 50, batch_size= 50)
# # Evaluate the model Accuracy on test set
print('Neural Network accuracy:',str(round(model.evaluate(X_val, Y_val, batch_size=50,verbose=False)[1]*100,2)),'%')

Using TensorFlow backend.

Epoch 1/50
491/491 [==============================] - 0s 758us/step - loss: 10.9854 - acc: 0.3157
Epoch 2/50
491/491 [==============================] - 0s 41us/step - loss: 10.9314 - acc: 0.3218
Epoch 3/50
491/491 [==============================] - 0s 35us/step - loss: 10.9314 - acc: 0.3218
Epoch 4/50
491/491 [==============================] - 0s 45us/step - loss: 10.9314 - acc: 0.3218
Epoch 5/50
491/491 [==============================] - 0s 47us/step - loss: 10.9314 - acc: 0.3218
Epoch 6/50
491/491 [==============================] - 0s 42us/step - loss: 10.9314 - acc: 0.3218
Epoch 7/50
491/491 [==============================] - 0s 52us/step - loss: 10.9314 - acc: 0.3218
Epoch 8/50
491/491 [==============================] - 0s 41us/step - loss: 10.9314 - acc: 0.3218
Epoch 9/50
491/491 [==============================] - 0s 48us/step - loss: 10.9314 - acc: 0.3218
Epoch 10/50
491/491 [==============================] - 0s 51us/step - loss: 10.9314 - acc: 0.3218
Epoch 11/50
491/491 [==============================] - 0s 42us/step - loss: 10.9314 - acc: 0.3218
Epoch 12/50
491/491 [==============================] - 0s 50us/step - loss: 10.9314 - acc: 0.3218
Epoch 13/50
491/491 [==============================] - 0s 52us/step - loss: 10.9314 - acc: 0.3218
Epoch 14/50
491/491 [==============================] - 0s 51us/step - loss: 10.9314 - acc: 0.3218
Epoch 15/50
491/491 [==============================] - 0s 51us/step - loss: 10.9314 - acc: 0.3218
Epoch 16/50
491/491 [==============================] - 0s 52us/step - loss: 10.9314 - acc: 0.3218
Epoch 17/50
491/491 [==============================] - 0s 49us/step - loss: 10.9314 - acc: 0.3218
Epoch 18/50
491/491 [==============================] - 0s 49us/step - loss: 10.9314 - acc: 0.3218
Epoch 19/50
491/491 [==============================] - 0s 49us/step - loss: 10.9314 - acc: 0.3218
Epoch 20/50
491/491 [==============================] - 0s 48us/step - loss: 10.9314 - acc: 0.3218
Epoch 21/50
491/491 [==============================] - 0s 38us/step - loss: 10.9314 - acc: 0.3218
Epoch 22/50
491/491 [==============================] - 0s 47us/step - loss: 10.9314 - acc: 0.3218
Epoch 23/50
491/491 [==============================] - 0s 50us/step - loss: 10.9314 - acc: 0.3218
Epoch 24/50
491/491 [==============================] - 0s 46us/step - loss: 10.9314 - acc: 0.3218
Epoch 25/50
491/491 [==============================] - 0s 55us/step - loss: 10.9314 - acc: 0.3218
Epoch 26/50
491/491 [==============================] - 0s 45us/step - loss: 10.9314 - acc: 0.3218
Epoch 27/50
491/491 [==============================] - 0s 49us/step - loss: 10.9314 - acc: 0.3218
Epoch 28/50
491/491 [==============================] - 0s 43us/step - loss: 10.9314 - acc: 0.3218
Epoch 29/50
491/491 [==============================] - 0s 53us/step - loss: 10.9314 - acc: 0.3218
Epoch 30/50
491/491 [==============================] - 0s 42us/step - loss: 10.9314 - acc: 0.3218
Epoch 31/50
491/491 [==============================] - 0s 35us/step - loss: 10.9314 - acc: 0.3218
Epoch 32/50
491/491 [==============================] - 0s 47us/step - loss: 10.9314 - acc: 0.3218
Epoch 33/50
491/491 [==============================] - 0s 54us/step - loss: 10.9314 - acc: 0.3218
Epoch 34/50
491/491 [==============================] - 0s 36us/step - loss: 10.9314 - acc: 0.3218
Epoch 35/50
491/491 [==============================] - 0s 45us/step - loss: 10.9314 - acc: 0.3218
Epoch 36/50
491/491 [==============================] - 0s 45us/step - loss: 10.9314 - acc: 0.3218
Epoch 37/50
491/491 [==============================] - 0s 33us/step - loss: 10.9314 - acc: 0.3218
Epoch 38/50
491/491 [==============================] - 0s 49us/step - loss: 10.9314 - acc: 0.3218
Epoch 39/50
491/491 [==============================] - 0s 36us/step - loss: 10.9314 - acc: 0.3218
Epoch 40/50
491/491 [==============================] - 0s 42us/step - loss: 10.9314 - acc: 0.3218
Epoch 41/50
491/491 [==============================] - 0s 44us/step - loss: 10.9314 - acc: 0.3218
Epoch 42/50
491/491 [==============================] - 0s 38us/step - loss: 10.9314 - acc: 0.3218
Epoch 43/50
491/491 [==============================] - 0s 42us/step - loss: 10.9314 - acc: 0.3218
Epoch 44/50
491/491 [==============================] - 0s 32us/step - loss: 10.9314 - acc: 0.3218
Epoch 45/50
491/491 [==============================] - 0s 47us/step - loss: 10.9314 - acc: 0.3218
Epoch 46/50
491/491 [==============================] - 0s 42us/step - loss: 10.9314 - acc: 0.3218
Epoch 47/50
491/491 [==============================] - 0s 45us/step - loss: 10.9314 - acc: 0.3218
Epoch 48/50
491/491 [==============================] - 0s 50us/step - loss: 10.9314 - acc: 0.3218
Epoch 49/50
491/491 [==============================] - 0s 49us/step - loss: 10.9314 - acc: 0.3218
Epoch 50/50
491/491 [==============================] - 0s 44us/step - loss: 10.9314 - acc: 0.3218
Neural Network accuracy: 27.64 %